body {
	font-family: $bodyFont;
	font-size: 16px;
	line-height: 1.2;
}
header {
	font-family: $monoFont;
}
h1 {
	font-weight: 400;
}
h2 {
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: 600;
}
h3 {
	margin-bottom: 0.5em;
	font-size: 1.1em;
	font-weight: 700;
}
article {
	font-size: 1.2em;

	header {
		h1 {
			margin-bottom: 0.5em;
			font-size: 1.5em;
		}
	}
}
p {
	margin: 0 0 1em;
}
a {
	color: $linkColor;
	
	i {
		position: relative;
		top: 5px;
		padding: 0 0.125em;
	}
}
.mono {
	font-family: $monoFont;
}
