
$bodyColor:	#0ff;
$bodyBG:	#272822; // #333
$bodyFont:	'Source Sans Pro', sans-serif;
$monoFont:	'Source Code Pro', monospace;
$linkColor:	#666;

/* Color time */

$white:	#fff;
$gray:	#90908A;
$red:	#CC2671;
$purp:	#A581FF;
$blue:	#56D3EB;
$lime:	#8BDE2E;
$pale:	#DFDB71;